@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap");

* {
  margin: 0;
  padding: 0;
  /* background-color: #000814; */
  /* color: black; */
  font-family: "Playpen Sans", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Arial, sans-serif;
  background-color: #bfc0c0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #22223b;
  padding: 15px;
  /* border-bottom: 1px solid #edf2f4; */
}

.logo {
  color: #fff;
  font-size: 3rem;
  font-weight: 800;
}

.nav-links {
  display: flex;
  list-style: none;
  margin-right: 1rem;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background-color: #fff;
  margin: 4px;
  transition: 0.3s;
}
/* Main */
.about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/blog-writing.png");
  /* Set a specific height */
  height: 50%;
  color: #fff;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 2rem;
}
.section-about {
  width: 80%;
  margin-top: 1rem auto;
  display: flex;
  color: #fff;
  justify-content: center;
}
#heading {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 600;
}
.desc {
  margin-left: 2.5rem;
  text-align: center;
}
.desc-para {
  text-align: left;
}
.section-about .desc {
  margin-top: 3rem;
  margin-left: 5rem;
  font-size: 1.5rem;
  width: 50%;
  text-align: center;
}
.desc > h1 {
  text-align: left;
}
.btn-link {
  padding: 10px 20px;
  background-color: #ff6b6b;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.btn-link {
  margin-top: 3rem;
}

.btn:hover {
  background-color: #ff4b4b;
}

#skills-heading {
  font-size: 3rem;
  text-align: center;
  margin-top: 3rem;
}
.section-skills {
  width: 90%;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
}
.section-skills > ul {
  display: flex;
  justify-content: space-between;
}
.section-skills > ul > li {
  margin: 0 2rem;
  padding: 20px;
  border-radius: 50%;
  background-color: #d5e6ec;
  cursor: pointer;
}
.section-skills > ul > li:hover {
  transform: scale(1.05);
  transition: opacity 0.3s ease;
}

.section-skills > ul > li > i {
  font-size: 3rem;
}
/*  */
/* 
.coding-profile {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.coding-profile > ul {
  display: flex;
  justify-content: center;
}
.coding-profile > ul > li {
  top: 15px;
  background-color: #edf2f4;
}
#leetcode {
  width: 3rem;
  height: 2.3rem;
}
.coding-profile > ul > li > a > img {
  top: 20px;
} */
#coding-heading {
  font-size: 3rem;
  text-align: center;
  margin-top: 3rem;
}
.coding-profile {
  display: flex;
  justify-content: center;
  /* background-color: #edf2f4; */
  width: 70%;
  margin: 2rem auto;
}
.platform-icons {
  /* display: flex;
  justify-content: space-between;  */
  /* Space between the icons */ /* Set a width to control spacing */
  align-items: center; /* Vertically center icons */
}

.icon-container {
  display: flex;
  flex-direction: column;
  /* background-color: #edf2f4; */
  /* margin: 2rem 4rem; */
  margin-left: 3rem;
  padding: 2px;
  /* justify-content: center; */
  justify-content: space-around;
  align-items: center;
  background-color: #d5e6ec;
  border-radius: 50%;
  padding: 30px;
  cursor: pointer;
}
.icon-container :hover {
  transform: scale(1.05);
  transition: opacity 0.3s ease;
}

.icon-container img {
  width: 80px; /* Adjust the size of the icons */
  height: auto;
}

.icon-container p {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.project > h1 {
  text-align: center;
  padding: 2rem;
  font-size: 2rem;
  font-weight: bold;
}
.project-container {
  width: 77%;
  margin: 1rem auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.project-card {
  width: 15rem;
  height: 18rem;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
  border-radius: 12px;
}
.project-card:hover {
  transform: scale(1.05);
  transition: opacity 0.3s ease;
}
.link {
  display: flex;
  justify-content: space-around;
  border-top: 2px solid black;
  margin-top: 2rem;
  padding: 1rem;
  background-color: #fff;
}
.link > button {
  width: 4rem;
  height: 2rem;
  border-radius: 10px;
  background-color: #edf2f4;
  padding: 0 10px;
}
.link > button:hover {
  transform: scale(1.05);
  transition: opacity 0.3s ease;
}
.project-card > h2 {
  font-size: 1rem;
  font-weight: 600;
}
.social {
  margin: 2rem;
}
.social-container {
  width: 85%;
  margin: 2rem auto;
}
.social-container > h1 {
  text-align: center;
  padding: 1rem;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: bolder;
}
.social-icons {
  display: flex;
  justify-content: center;
}
.social-icons > ul {
  display: flex;
  justify-content: space-between;
}
.social-icons > ul > li {
  margin: 0 2rem;
  padding: 20px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #d5e6ec;
}
.social-icons > ul > li:hover {
  transform: scale(1.05);
  transition: opacity 0.3s ease;
}
.social-icons > ul > li > a > i {
  font-size: 2rem;
}
/* .social-icons > ul > li > a > i {
  
} */

footer {
  background-color: #22223b;

  padding: 2rem;
}
footer > h2 {
  text-align: center;
  color: #fff;
}

/*  */
/* Media query for mobile devices */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .nav-links li {
    margin: 15px 0;
  }
  .nav-links li:hover {
    text-decoration: underline;
  }

  .hamburger {
    display: flex;
  }

  .nav-links.active {
    display: flex;
  }

  #heading {
    font-size: 2rem;
    position: absolute;
    top: 21rem;
    left: 12rem;

    /* margin-top: 8rem;
    margin-bottom: 2rem; */
  }

  .section-about {
    display: block;
    justify-content: center;
    margin-top: 19rem;
    margin-left: 5rem;
    font-size: 1.5rem;
  }
  .skills-heading {
    font-size: 2rem;
  }
  .section-skills > ul > li {
    margin: 0 1rem;
  }
  .section-skills > ul > li > i {
    font-size: 1.5rem;
  }
  .project-container {
    margin: 0 13rem;
  }
  .btn-link {
    width: 6rem;
    padding: 7px;
  }
  #heading {
    margin-bottom: 2rem;
  }
  .desc {
    margin-top: 2rem;
    font-size: 1rem;
  }
}
